<h1>Fishing Trip #<%= @fishing_trip.id %></h1>

<p><strong>Lake ID:</strong> <%= @fishing_trip.lake_id %></p>
<p><strong>Custom location name:</strong> <%= @fishing_trip.custom_location_name %></p>
<p><strong>Latitude:</strong> <%= @fishing_trip.latitude %></p>
<p><strong>Longitude:</strong> <%= @fishing_trip.longitude %></p>
<p><strong>Fish species:</strong> <%= @fishing_trip.fish_species %></p>
<p><strong>Lure used:</strong> <%= @fishing_trip.lure_used %></p>
<p><strong>Date fished:</strong> <%= @fishing_trip.date_fished %></p>
<p><strong>Notes:</strong> <%= @fishing_trip.notes %></p>

<p><%= link_to "Edit", edit_fishing_trip_path(@fishing_trip) %></p>

<p>
  <%= link_to "Delete", fishing_trip_path(@fishing_trip),
      data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
</p>

<p><%= link_to "Back to fishing trips", fishing_trips_path %></p>
